<div class="login-container">
  <form class="ui big form" #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <div class="field">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" ngModel>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" ngModel>
    </div>
    <button type="submit"class="ui primary button float right floated">
      Login
    </button>
  </form>
</div>