<div class="add-form-container">
  <form  class="ui big form" >
    <div class="fields">
      <div class="eight wide field">
        <label for="firstName">First Name</label>
        <input type="text" placeholder="First Name" name="firstName">
      </div>
      <div class="eight wide field">
          <label for="lastName">Last Name</label>
          <input type="text" placeholder="Last Name" name="lastName">
        </div>
    </div>
    <div class="field">
      <label for="address">Address</label>
      <input type="text" placeholder="Address" name="address">
    </div>
    <div class="equal width fields">
      <div class="field">
          <label for="areaCode">Phone</label>
          <input type="text" maxlength="5" placeholder="(###)" name="areaCode">            
      </div>
      <div class="field">
          <label for="prefix"> &nbsp; </label>
          <input type="text" maxlength="3" placeholder="(###)" name="prefix">            
      </div>
      <div class="field">
          <label for="lineNumber"> &nbsp; </label>
          <input type="text" maxlength="4" placeholder="(###)" name="lineNumber">            
      </div>      
    </div>
    <div class="field">
        <label for="photo">Photo Url</label>
        <input type="text"  placeholder="http://cdn.com/profile.jpg" name="photo">            
    </div>
    <button type="submit" class="ui submit large grey button right floated">Submit </button>
  </form>
</div>